
@media (min-width: 300px) {
  ul > li > a {
    font-size: 16px;
}
.ul-bot > li {
  font-size: 16px;
}
.ul-bot > a {
  font-size: 16px;
}
.gallery-block.grid-gallery .item img {
  width: 100%;
}
@media (min-width: 600px) {
  ul > li > a {
    font-size: 16px;
}
.ul-bot > li {
  font-size: 16px;
}
.ul-bot > a {
  font-size: 16px;
}
.nav-link {
  font-size: 1.1rem !important;
}
@media (min-width: 768px) {
  ul > li > a {
    font-size: 12px;
}
.ul-bot > li {
  font-size: 12px;
}
.ul-bot > a {
  font-size: 12px;
}
.nav-link {
  font-size: 0.8rem !important;
}
@media (min-width: 992px) {
  ul > li > a {
    font-size: 15px;
}
.ul-bot > li {
  font-size: 15px;
}
.ul-bot > a {
  font-size: 15px;
}
.nav-link {
  font-size: 1.1rem !important;
}
@media (min-width: 1200px) {
  ul > li > a {
    font-size: 16px;
}
.ul-bot > li {
  font-size: 16px;
}
.ul-bot > a {
  font-size: 16px;
}
.nav-link {
  font-size: 1.1rem !important;
}
