html, body {
  height: 100%;
  width: 100%;
}
.navbar {
  padding: .8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.navbar-nav li >  a:hover {
  color: #1A62AE !important;
}
.dropdown-menu > a:hover {
  color: #1A62AE !important;
}
.nav-link {
  font-size: 1.1rem !important;
}
.jumbotron {
  background-color: #FFFFFF !important;
}
.navbar-nav .active {
color: #1A62AE !important;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: white !important;
  color: #000 !important;
}
p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
}
.title {
  padding-top: 70px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 34px;
}
.p2 {
  padding-top: 80px;
  font-size: 20px;
  padding-bottom: 20px;
}
.container-fluid > img {
  padding-top: 90px;
}
.card-img-bot {
  width: 100% !important;
}
ul {
  list-style-type: none !important;
  list-style: none !important;
  padding-left: 0 !important;
}
ul > li > a {
  color: #000;
  text-decoration: none;
}
ul > li > a:hover {
  text-decoration: none;
}
button:hover {
  background-color: #1A62AE !important;
}
.card-body > a:hover {
  background-color: #1A62AE !important;
}
li > i {
  padding-right: 10px;
}
.hr1 {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
  margin-top: 40px;
  margin-bottom: 80px;
}
.hr2 {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
  margin-top: 80px;
  margin-bottom: 40px;
}
.hr3 {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
  margin-top: 40px;
}
.card-footer {
  border: 0 !important;
  background-color: #ffffff !important;
}
.card-body-footer > a:hover {
  background-color: #1A62AE !important;
}
.card-body-footer > ul > li {
  margin: 20px !important;
  margin-top: 0px !important;
}
.card-body-footer > a {
  margin-top:50px;
}
.col-12 {
  text-align: center !important;
}
.container > h1 {
  padding:0 !important;
}
.col-md-4 {
  margin-top: 50px !important;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.card-body-footer {
  justify-content: center !important;
}
.logo-parent {
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.vbworks {
  background-image: url('../img/favicon-64x64.png');
  height: 20px;
  width: 19px;
  background-size:cover;
}
.vbworks:hover {
  background-image: url('../img/favicongrey-64x64.png');
}
.padding {
  padding-top: 50px;
}
.card-body {
  width: 100%;
}
.centered-map {
  display: flex;
  justify-content: center;
}
#map {
  height: 225px;
  width: 348px;
}
.popup-tip-anchor {
  height: 0;
  position: absolute;
  width: 200px;
}
.popup-bubble-anchor {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
}
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid white;
}
.popup-bubble-content {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  overflow-y: auto;
  max-height: 60px;
  box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
}
